<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Books Form</title>
</head>
<body>
<form action="/add_books_form" method="post">

    <label for="bookName">
        Book Name: <br>
        <input type="text" name="bookName">
    </label>

    <label for="bookAuthor">
        Author: <br>
        <input type="text" name="bookAuthor">
    </label>

    <label for="bookPublisher">
        Publisher: <br>
        <input type="text" name="bookPublisher">
    </label>

    <input type="submit" value="Upload Book">
    
    
</form>
</body>
</html>