<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Books Back In</title>
</head>
<body>
<form action="/sign_in_form" method="post">
    <label for="email">Email
    <input type="text" name="email"></label><br><br>

    <label for="book">Book Number
    <input type="text" name="book"></label><br><br>

    <input type="submit" value="Send">
</form>

<br>
<button>
    <a href="/">Sign Books Out</a>
</button>
</body>
</html>