<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Out a Book</title>
</head>
<body>
<form action="/sign_out_form_submission" method="post">
    <label>Name
    <input type="text" name="name"></label><br><br>

    <label for="email">Email
    <input type="text" name="email"></label><br><br>

    <label for="book">Book Number
    <input type="text" name="book"></label><br><br>

    <input type="submit" value="Send">

</form>
<br>
<button><a href="/sign_in">Sign Books Back In</a></button>


</body>
</html>